* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    margin-right: 15px;
}

.site-title {
    font-weight: bold;
}

.login-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav {
    background-color: lightgrey;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.diagonal-divider {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom right, black 50%, lightgrey 50%);
}

.posts-section {
    background-color: lightgrey;
    padding: 20px;
}

.create-post-btn {
    display: block;
    margin-left: auto;
    margin-right: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.about-section {
    background-color: lightgrey;
    padding: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  